fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.7.4
pandas==2.2.2
langchain==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.29
langchain-groq==0.3.7
sentence-transformers==3.0.1
faster-whisper==1.1.1
python-dotenv==1.0.1
python-multipart==0.0.20
PyJWT==2.8.0
passlib==1.7.4
bcrypt==3.2.2
deep-translator==1.11.4
edge-tts==6.1.10
networkx==3.2.1
pymupdf==1.24.11
reportlab==4.1.0
fpdf2==2.8.1
schedule==1.2.1
gTTS==2.5.4
